* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5e8e3;
}



/* PRODUCT PAGE */

h1 {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.product__wrapper {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fill, 480px);
  gap: 1.5rem;
  margin-bottom: 8rem;

  .product__box {
    position: relative;
    padding: 1.5rem;
    transition: all 0.3s linear;

    img {
      width: 100%;
      height: 250px;
      border-radius: 20px;

      transition: transform 0.3s linear;
    }
    /* EMPTY CART */
    .product__cart {
      border-radius: 20px;
      border: 1px solid grey;
      width: 200px;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: white;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 15.5rem;
      left: 8rem;

      .fa-solid {
        color: #c83c0e;
      }

      transition: all 0.3s linear;
    }

    /* ADDED CART */
    .product__cart_added {
      border-radius: 20px;
      width: 200px;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      background-color: #c83c0e;

      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 15.5rem;
      left: 8rem;

      transition: all 0.3s linear;
    }
    .product__category {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      color: grey;
    }

    .product__title {
      padding-bottom: 0.5rem;
    }

    .product__price {
      color: #c83c0e;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .product__cart:hover {
      background: #c83c0e;
      color: white;
      border: none;
      cursor: pointer;

      .fa-solid {
        color: white;
      }
    }

    .product__cart_added:hover {
      background: white;
      color: black;
      cursor: pointer;
      border: 1px solid grey;

      .fa-solid {
        color: #c83c0e;
      }
      .fa-solid:hover {
        color: grey;
      }
    }
  }

  .product__box:hover {
    transform: scale(1.2);
    background: linear-gradient(to top, transparent, #c83c0e57);

    border-radius: 20px;
    z-index: 20;

    img {
      transform: rotateY(180deg);
    }
  }

  .product__box_2 img,
  .product__box_4 img,
  .product__box_9 img {
    border: 2px solid #c83c0e;
  }
}

/* SHOPPING CART */
.cart__box {
  display: flex;
  background-color: white;
  width: 300px;
  height: 550px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px;
}

header {
  width: 306px;
  justify-content: center;
  margin: 10px;
}

li {
  display: grid;
  margin: 20px;
}

button {
  display: flex;

  justify-content: center;
  width: 200px;
  border-radius: 6px;
  background-color: orangered;
  border: none;
  margin: 30px;
  padding: .5rem 2rem;
}

.cart1 {
  border: none;
  border-radius: 6px;
  height: 30px;
  align-items: center;
  text-align: center;
  background-color: #f5e8e3;
  width: 300px;
  margin: 2px;
}

.cart__box h1 {
  display: flex;
}

.cart__p {
  display: flex;
  justify-content: space-evenly;
}

/* MEDIA REDQUIERIE */

@media (min-width: 984px) {

  .container {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px repeat(2 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    h1 {
      margin-left: 4.5rem;
      grid-column: 1/5;
    }
    .product {
      grid-column: 1/5;
      grid-row: 2/ 4;
    }
    .cart__box {
        position: relative;
        top: 2rem;
        right: 2rem;
      grid-column: 5 / 5;
      grid-row: 1/3;
    }
  }
}
